<%= @parent_profile.nickname %>様

推し鉄.comをご利用いただき、誠にありがとうございます。
<%= @profile.nickname %>様からコメントが届きました。

■コメント
<%= @comment.content %>

以下のリンクから推し鉄.comにアクセスできます。
<%= @url %>

<p>
----------------------------------<br />
このメールに心あたりがない場合、どなたかがメールアドレスを誤って入力されたものと思われますので破棄してください。<br />
このメールへの返信はできませんのでご了承ください。<br />
----------------------------------
</p>
