<div class="policy-terms-gallery">
  <div class="container">
    <%= image_tag 'how_to_use_1-2.png' ,class: "gallery-image" %>
    <%= image_tag 'how_to_use_2-2.png' ,class: "gallery-image" %>
  </div>
</div>