<div class="policy-terms-gallery">
  <div class="container">
    <%= image_tag 'how_to_use_1-3.png' ,class: "gallery-image" %>
    <%#= image_tag 'how_to_use_2-3.png' ,class: "gallery-image" %>
    <%#= image_tag 'how_to_use_3-3.png' ,class: "gallery-image" %>
  </div>
</div>