<div class="policy-terms-gallery">
  <div class="container">
		<%= image_tag 'privacy_policy_1-2.png' ,class: "gallery-image" %>
		<%= image_tag 'privacy_policy_2-2.png' ,class: "gallery-image" %>
	</div>
</div>