<div class="subscription-container">
  <div class="subscription-card">
    <h1 class="title">サブスクリプションが<br>
    有効になりました</h1>
    <p class="description">
      ご登録いただきありがとうございます。
    </p>
    <%= link_to "ホームへ", index_post_path, method: :get, class: "cta-button" %>
  </div>
</div>

