<div class="subscription-container">
  <div class="subscription-card">
    <h1 class="title">サブスク登録して<br>
    コミュニティに参加しよう</h1>
    <!--
    <p class="description">
      あなたの鉄道に対する情熱を共有しましょう。
    </p>
    -->
    <%= link_to "お支払い情報を登録する", create_stripe_customer_path, method: :post, class: "cta-button" %>
  </div>
</div>
