<!-- 以下、初期文
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
-->

<p><%= @resource.email %> 様</p>

<p>
このメールは、推し鉄.comのパスワードを変更するためのものです。<br />
以下のリンクから、パスワードを変更してください。
</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, :reset_password_token => @token ) %></p>

<p>
----------------------------------<br />
このメールに心あたりがない場合、どなたかがメールアドレスを誤って入力されたものと思われますので破棄してください。<br />
このメールへの返信はできませんのでご了承ください。<br />
----------------------------------
</p>